NEXT_PUBLIC_SUPABASE_URL=https://zcdomdvjgjvoobifmgvp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjZG9tZHZqZ2p2b29iaWZtZ3ZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgyNDI0NzEsImV4cCI6MjA2MzgxODQ3MX0.xFNUNrd9UqpsFqKxMV0odOcMCnFk-nVsv6OysB2IoGI